---
    import '../styles/404.css'; // Import the CSS file
    import Layout from "../layouts/Layout.astro";
---


<Layout title="404: Not Found">
  <main>
    <div>
        <h1 class="text-gradient">404: Not Found</h1>
        <p>Sorry, the page you were looking for doesn't exist.</p>
    </div>
    <img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmJ2bG0zajdjc3hnZXB2aTFybjVsbjkxdmt1ZnphZXdocGpjcjVnYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tuCFp8rod0x3O/giphy.gif" alt="">
  </main>
</Layout>